.div-login {
  padding: 5%;
  padding-top: 10rem;
}

.table-responsive {
  display: inline-table;
}

.btn-sm {
  margin: 1px;
}

@media only screen and (max-width: 786px) {
  .table-responsive {
    display: block;
  }
}

@media all and (orientation: portrait) {
  .div-login {
    padding: 5%;
    padding-top: 10rem;
  }
}

@media all and (orientation: landscape) {
  .div-login {
    padding: 5%;
    padding-top: 4rem;
  }
}
